{% if cart.item_count > 0 %}
  <div data-money-format="{{shop.money_format}}">
  <div class="px-3 max-w-6xl mx-auto my-6 flex flex-col">
    <div class="flex items-end justify-between my-5">
      <h1 class="text-2xl font-medium">Your Cart</h1>
      <a href="{{ routes.all_products_collection_url }}" class="text-blue-500 hover:text-blue-800">Continue Shopping</a>
    </div>
  </div>

  <div class="max-w-6xl mx-auto flex flex-col my-3">
    <form
      action="{{ routes.cart_url }}"
      method="POST"
      novalidate>
      <table class="table-auto divide-y divide-gray-200 my-4 w-full">
        <thead>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Product</th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Quantity</th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Total Price</th>
        </thead>
        <thody>
          {% for item in cart.items %}
            <tr class="table-row" data-key="{{item.key}}">
              <td class="py-4 px-2 flex flex-col">
                <a href="{{ item.url }}">
                  {% if item.image %}
                    <img
                      src="{{ item.image | img_url: "medium" }}"
                      alt="{{ item.image.alt }}"
                      class="w-20 h-20 object-cover border px-2">
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover border' }}
                  {% endif %}
                </a>
              </td>
              <td class="py-4 px-2 flex flex-col justify-center">
                <a href="{{ item.url }}">{{ item.product.title | truncatewords: 5 }}</a>
                <span class="text-sm text-gray-500 my-1">
                  {{ item.variant.title }}
                </span>
                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="text-sm font-medium text-red-500 my-1">Remove</a>
              </td>
              <td class="py-4 px-2">
                
                  <div class="cart-quantity-selector">
                    <button type="button" class="minus">-</button>
                    <input
                  type="number"
                  name="updates[]"
                  value="{{ item.quantity }}"
                  min="1"
                  id="updates{{ forloop.index }}"
                  class="w-20 border p-2">
                    <button type="button" class="plus">+</button>
                  </div>
              </td>
              <td>
                <p class="line-item-price">
                  {{ item.line_price | money }}
                </p>
              </td>
            </tr>
          {% endfor %}
        </thody>
      </table>

      <div class="flex flex-col md:flex-row item-center justify-between">
        <div class="w-full my-4">
          <div class="flex flex-col items-start">
            <label for="cart_notes" class="my-1">Notes</label>
            <textarea
              name="note"
              id="cart_notes"
              class="w-full md:max-w-sm resize-none border border-gray-400 h-20 p-3"></textarea>
          </div>
        </div>
        <div class="w-full my-4 md:w-80">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'cart_subtotal' %}
              <h3 class="text-lg">
                <p>
                  Discount:  <span id="total-discount">{{cart.total_discounts |  money}}</span> 
                </p>
                <p>
                  Subtotal:  <span id="total-price">{{ cart.total_price | money }}</span>
                </p>
              </h3>
              {% when 'cart_update' %}
              <div class="my-2">
                <button
                  type="submit"
                  name="update"
                  class="w-full p-3 border border-gray-600 text-gray-600 font-medium hover:bg-gray-600 hover:text-white">Update</button>
              </div>
              {% when 'cart_checkout' %}
              <div class="my-2">
                <button
                  type="submit"
                  name="checkout"
                  class="w-full p-3 border border-gray-600  font-medium bg-gray-600 text-white">Checkout</button>
              </div>

            {% endcase %}
          {% endfor %}



        </div>
      </div>

    </form>
  </div>

  </div>
{% else %}
  <div class="max-w-xl mx-auto flex flex-col items-center justify-center h-80">
    <h1 class="text-3xl font-bold">Your Cart Is Empty</h1>
    <a href="{{ routes.all_products_collection_url }}" class="inline-block px-8 py-3 mt-4 bg-gray-600 border text-white hover:bg-gray-800">Continue Shopping</a>
  </div>
{% endif %}

{{'cart.js' | asset_url |  script_tag}}


{% schema %}
  {
    "name": "cart",
    "settings": [],
    "blocks": [
      {
        "type": "cart_subtotal",
        "name": "Cart Subtotal",
        "limit": 1
      }, {
        "type": "cart_update",
        "name": "Cart Update",
        "limit": 1
      }, {
        "type": "cart_checkout",
        "name": "Cart Checkout",
        "limit": 1
      }
    ]

  }
{% endschema %}