<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    top: auto;
    height: 20px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }
  .swiper-pagination-bullet-active {
    background: #000;
  }
  .product--information{
    height: fit-content;
  }
</style>


<div class="max-w-6xl mx-auto my-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="product--medias"> 
      <div class="sm:hidden md:block">
        {% for media in product.media %}
          <div class="h-100 overflow-hidden p-2">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>

      <div class="md:hidden">
        <div class="swiper h-94">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                <div class="h-80 overflow-hidden p-2">
                  {% render 'product-media', media: media %}
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>
      </div>

    </div>
    <div class="product--information sticky top-5 p-2">
      {% form 'product', product %}
        <input id="product-id" type="hidden" name="id" value="{{ selected_variant.id }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when "vendor" %}
              <div class="my-3">
                <span class="text-xs text-gray-500">
                  {{ product.vendor }}
                </span>
              </div>
            {% when "title" %}
              <div class="my-3">
                <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
              </div>
            {% when "price" %}
              <div class="product-prices flex space-x-2">
                <div class="product-compare line-through text-gray-400
                  {%  unless product.selected_or_first_available_variant.compare_at_price < product.selected_or_first_available_variant.price %} hidden  {% endunless %}                 
                ">
                  {{product.selected_or_first_available_variant.compare_at_price |  money}}
                </div>
                <div class="product-price">
                  {{product.selected_or_first_available_variant.price |  money}}
                </div>
              </div>

              {% comment %} <div class="my-3">
                {% assign product_price = selected_variant %}
                <span class="text-base text-gray-500 line-through">{{ product_price.compare_at_price | money }}</span>
                <span class="text-lg text-gray-900">
                  {{ product_price.price | money }}
                </span>
                {% if product_price.price < product_price.compare_at_price %}
                  <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                {% endif %}
              </div> {% endcomment %}
            {% when 'variant_selector' %}

              {% if product.variants.size > 1 %}
              <div class="product-option">
                {% for option in product.options_with_values %}
                  <fieldset>
                    <legend>{{option.name}}</legend>
                    {% for value in option.values %}
                        <div>
                          <input 
                          {% if option.selected_value == value %} checked {% endif %}
                          type="radio" name="{{option.name}}"
                          value="{{value}}"
                          id="{{option.name |  handleize}}--{{value |  handleize}}"
                          >
                          <label for="{{option.name |  handleize}}--{{value |  handleize}}">
                            {{value}}
                          </label>
                        </div>
                    {% endfor %}
                  </fieldset>
                {% endfor %}
              </div>
              {% endif %}


              {% comment %} <div class="my-2">
              {% unless product.has_only_default_variant %}
                <div data-url="{{product.url}}" data-section="{{section.id}}">
                  {% for option in product.options_with_values %}
                    <label for="option-{{section.id}}--{{forloop.index0}}">{{ option.name }}</label>
                    <div class="my-2">

                      <select
                        name="options[{{option.name | escape}}]"
                        id="options-{{section.id}}--{{forloop.index0}}"
                        class="w-full border py-3 px-3">
                        {% for value in option.values %}
                          <option value="{{ value | escape }}"{% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>

                  {% endfor %}
                </div>
              {% endunless %}
            </div> {% endcomment %}

            {% when "quantity" %}
              <div class="my-3">
                <label for="Quantity-{{section.id}}">Quantity</label>
                <div class="my-2">
                  <input
                    type="number"
                    name="quantity"
                    id="Quantity-{{section.id}}"
                    value="1"
                    min="1"
                    class="w-full border px-3 py-3 ">
                </div>
              </div>

              {% when "description" %}
                <div class="my-3">
                <p class="text-gray-700">
                  {{ product.description }}
                </p>
              </div>

              {% when "checkout_buttons" %}
                <div class="my-3">
                <button
                  type="submit"
                  name="add"
                  class="w-full px-6 py-4 bg-gray-900 text-white hover:bg-gray-700 rounded-sm my-2"
                  {% if selected_variant.available == false %}disabled{% endif %}>
                  {% if selected_variant.available == false %}
                    Sold Out
                  {% else %}
                    Add to Cart
                  {% endif %}
                </button>
              </div>



            {% else %}
              
          {% endcase %}
        {% endfor %}
      {% endform %}
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper('.swiper', { // Optional parameters
    direction: 'horizontal',
    loop: true,

// If we need pagination
    pagination: {
      el: '.swiper-pagination'
    },

// Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });


  // product swatches custom code start here...

  let product = {{product |  json}};
  console.log(product)

  document.querySelectorAll('.product-option input[type="radio"]').forEach(radio=>{
    radio.addEventListener("change", ()=>{

      // Find selected options
      let selectedOptions = []
      document.querySelectorAll('.product-option input[type="radio"]:checked').forEach(radio=>{
        selectedOptions.push(radio.value);
      })

      // Finding the matched variant
      let matchedVariant = product.variants.find(variant =>{
        let pass = true;
        for(let i =0; i < selectedOptions.length; i++){
          if(selectedOptions.indexOf(variant.options[i]) === -1){
            pass = false;
            break
          }
        }
        return pass;
      })

      console.log(matchedVariant, "matchedVariant")

      // change product form product.variant id
      document.querySelector("#product-id").value = matchedVariant.id;


      let url = new URLParse(window.location.href, true);
      url.query.variant = matchedVariant.id;
      //console.log(url.toString(), "url is here")
      window.history.replaceState(null, null, url);

      // Price changes
      document.querySelector(".product-price").textContent = formatMoney(matchedVariant.price, "{{shop.money_format}}");
      document.querySelector(".product-compare").textContent = formatMoney(matchedVariant.compare_at_price, "{{shop.money_format}}");

      matchedVariant.compare_at_price < matchedVariant.price ?
      document.querySelector(".product-compare").classList.remove("hidden"):
      document.querySelector(".product-compare").classList.add("hidden")
      
    })
  })


</script>


{% schema %}
  {
    "name": "Product",
    "blocks":[
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      },
      {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      },
      {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1
      }
    ]
  }

{%endschema%} 